.s4{
    background-image: url("pawel-czerwinski--0xCCPIbl3M-unsplash.jpg");
    min-height:86.28048780487805vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
    padding-left: 8vw;
    padding-top: 5vh;
}
/* .s4-in
{
} */