.Ame-int{
    width:25vw;
    min-height: 20vh;
    color:aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh 1.5vw 3vh 1.5vw;
    height: fit-content;
    font-size: 3vw;
}
.secthree{
    height:auto;
    overflow-x: hidden;
}
.odd{
    background-color: orangered;
}
.even{
    background-color: rgb(25, 25, 78);
}
.Ame-left{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    padding-left: 8vw;
    padding-right: 8vw;
    /* border-radius: 20%;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.8); */
    backdrop-filter: blur(10px);
}

.Ame-text{
    font-size: 3vh;
}